<!DOCTYPE html>
{%load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>My Website</title>




  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- Navigation CSS -->
  <style>
    /* Add styles for the navigation menu */
    .nav-link {
      color: #333;
    }
    .nav-link:hover {
      color: #666;
    }
  </style>



</head>
<body style="background-image:url('{% static 'images/bank.jpg' %}');  background-repeat: no-repeat;  background-size: cover;" >
<b>




<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://www.hdfcbank.com/personal/ways-to-bank/online-banking/net-banking">HDFC</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">


      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="https://www.hdfcbank.com/personal/pay/cards/credit-cards">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Inquiry</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Registration
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Apply for Card</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>





	<marquee behavior="scroll" direction="left" width="50%">Welcome to the HDFC BANK!</marquee>



  </b>




</body>
</html>
